{% extends 'base.html' %}
{% block body %}
  <form action="/create" method="post">
    <label for="name">Your Name</label>
    <input id="name" name="name" required maxlength="80" placeholder="Jane Doe">

    <label for="amount">Amount</label>
    <input id="amount" name="amount" type="number" required min="0" step="0.01" placeholder="1000.00">

    <label for="currency">Currency</label>
    <select id="currency" name="currency">
      <option value="INR">INR</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>

    <div class="btnrow"><button type="submit">Generate Receipt</button></div>
  </form>
{% endblock %}
